<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>mitler-manager admin</title>
    <%= javascript_include_tag(:defaults) %>
    <%= stylesheet_link_tag("base") %>
  </head>

  <body>
    <div class="header">
      <%= render(:partial => "/layouts/header") %>
    </div>

    <div class="body">
      <%= flash_box(flash[:notice], :id_suffix => "-notice") %>
      <%= flash_box(flash[:error], :id_suffix => "-error") %>
      <%= yield %>
    </div>

    <div class="footer">
      <%= render(:partial => "/layouts/footer") %>
    </div>
  </body>
</html>
